<div class="app-container flex" [ngClass]="{ 'bg-gray-50': account }">
    <!-- Sidebar Navigation -->
    <app-nav *ngIf="account" class="hidden lg:block"></app-nav>

    <!-- Main Content Area -->
    <div class="main-content flex-1 overflow-auto" [ngClass]="{ 'lg:ml-64': account }">
        <!-- subnav router outlet -->
        <router-outlet name="subnav"></router-outlet>

        <!-- global alert -->
        <alert></alert>

        <!-- main router outlet -->
        <router-outlet></router-outlet>
    </div>
</div>
